* {
    box-sizing: border-box;
}

.signup-inputs {
    text-align: center;
    padding: 24px;
}

#signup-button {
    display: block;
    width: 100%;
    margin-top: 24px;
    border-radius: 6px;
    background-color: rgb(255, 56, 92);
}
