.reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: auto;
    column-gap: 100px;
}

.review-card {
    display: block;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

#rating{
    padding-left: 22px;
}

#date {
    color: rgba(156, 152, 152, 0.867);
    font-size: 12px;
}

#review-body {
    text-align: left;
    overflow-y: scroll;
}

#review-header {
    padding: 28px 0 28px 0;
}
