.reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: auto;
}

.review-card {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    gap: 5px;
    padding-right: 30px;
    margin-bottom: 20px;
}


#date {
    color: rgba(156, 152, 152, 0.867);
    font-size: 12px;
}

#review-body {
    text-align: left;
    overflow-y: scroll;
}

#review-header {
    padding: 28px 0 28px 0;
}
