.spots-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 40px 10px 40px;
    gap: 2em;
    margin-top: 15px;
}

.spot-cards {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 4fr, 1fr, 1fr;
    gap: 10px;
    grid-template-areas:
    "a a"
    "b c"
    "d d";
    align-items: start;
    color: black;
}

.spot-cards:link{
   text-decoration: none;
}

.item1{
    grid-area: a;
    width: 1fr;
    height: 1fr;
    border-radius: 12px;
}

.item2{
    grid-area: b;
    font-weight: bold;
}


.item3{
    grid-area: c;
    text-align: right;
}

.item4{
    grid-area: d;
}
