body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
}

.profile-dropdown {
    position: absolute;
    z-index: 5;
    right: 40px;
    top: 45px;
    width: 240px;
    background-color: white;
    border-radius: 12px;
    list-style: none;
    box-shadow: 0 2px 16px rgb(0 0 0 / 14%);
    padding-inline-start: 0;
}

.dropdown-divider {
    background-color: #ddd;
    height: 1px;
    width: 100%;
    margin: 15px 0 15px 0;
}

.hidden {
    display: none;
}

.nav-links {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #ddd 1px;
    background-color: white;
    padding: 10px 40px 15px 40px;
}

#home-logo {
    width: 35px;
}

#menu-items {
    display: inline-flex;
    align-items: center;
    width: 77px;
    height: 42px;
    border-radius: 21px;
    background-color: white;
    border: solid 1px #ddd;
    padding: 5px 5px 5px 11px;
}

#menu-items:hover {
    box-shadow: 0 2px 5px #ddd;
}

.login-signup-container {
    width: 100%;
    padding: 10px 0 10px 0;
}

.login-signup-container>div:hover {
    background-color: rgb(231, 221, 221);
    width: 100%;
}

#login {
    margin: 10px 0 10px 5px;
    padding-left: 10px;
}

#signup {
    margin: 20px 0 10px 5px;
    padding-left: 10px;
}

#demo-user {
    margin: 0 0 10px 5px;
    padding-left: 10px;
}

#bars-icon {
    width: 16px;
    height: 16px;
    opacity: 0.6;
}

#user-icon {
    width: 30px;
    height: 30px;
    opacity: 0.4;
    margin-left: 10px;
}

#username {
    margin: 20px 0 10px 5px;
    padding-left: 10px;
}

#fullname {
    margin: 10px 0 10px 5px;
    padding-left: 10px;
}

#email {
    margin: 10px 0 10px 5px;
    padding-left: 10px;
}

#create-current-user {
    margin: 10px 0 10px 5px;
    padding-left: 10px;
}


#create-current-user:hover {
    background-color: rgb(231, 221, 221);
    width: 100%;
}

#profile-logout {
    background-color: white;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 20px;
}

#profile-logout:hover {
    background-color: rgb(231, 221, 221);
    width: 100%;
    text-align: left;
}

#create-spot-nav {
    margin-right: 40px;
    border: none;
    background-color: white;
    font-size: 14px;
    height: 42px;
    width: 140px;
}

#create-spot-nav:hover {
    background-color: rgb(247, 247, 247);
    border-radius: 22px;
}

.top-right-nav {
    display: flex;
    align-items: center;
}
