.profile-dropdown {
    position: absolute;
    right: 80px;
    background-color: white;
    border-radius: 12px;
    list-style: none;
    padding: 15px 50px 15px 10px;
    box-shadow: 0 2px 16px rgb(0 0 0 / 14%);
}

.dropdown-divider{
    background-color: #ddd;
    height: 1px;
    width: 100%;
}

.hidden {
    display: none;
}

.nav-links {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #ddd 1px;
    padding: 10px 40px 15px 40px;
}

#home-logo {
    width: 35px;
}

#menu-items {
    display: inline-flex;
    align-items: center;
    width: 77px;
    height: 42px;
    border-radius: 21px;
    background-color: white;
    border: solid 1px #ddd;
    padding: 5px 5px 5px 11px;
}

#menu-items:hover {
    box-shadow: 0 2px 5px #ddd;
}

.login-signup>li {
    padding: 10px;
}

.login-signup>li:hover {
    background-color: rgb(227, 221, 221);
}

#bars-icon {
    width: 16px;
    height: 16px;
    opacity: 0.6;
}

#user-icon {
    width: 30px;
    height: 30px;
    opacity: 0.4;
    margin-left: 10px;
}
